.match_btn_contener{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
}
.find_match_button{
cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Inria Serif ;
    font-size: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}