.profile_container {
    background-color: #FFFFFF;
    width: 1000px;
    height: 1000px;
    margin: 2em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-flow: row wrap;
    align-items:center;
    align-content:center;
}
.skill_container{
    width: 1000px;
    height: 1000px;
 display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "teach_container teach_container learn_container learn_container"
    "teach_container teach_container learn_container learn_container"
    "available_container available_container available_container available_container"
    "available_container available_container available_container available_container"; 
}
.teach_container { grid-area: teach_container; }
.learn_container { grid-area: learn_container; }
.available_container { grid-area: available_container; }

.teach_container{
    border-right: 1px solid  #9b27b031;
     
}
.available_container{
    border-top: 1px solid  #9b27b031;
    

}
.skill_list_container{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;;
}

form.profile_form1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
}


.profile_title {
    color: #8C55AA;
    font-family: Inria Serif ;
    font-weight: bold;
    font-size: 50px;
}
.skill_title {
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
      font-family: Inria Serif;
      align-self:center;
      margin-left: 90px;
      margin-top: 50px;
}

.skill_button {
   
    background-color: #f5ebf7;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.skill_button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.457), transparent);
    top: -100%;
    left: -100%;
    transition: all 0.5s ease;
}
@keyframes pulse {
    0% { transform: scale(1.05); }
    50% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

.skill_button:hover::before {
    top: 100%;
    left: 100%;
}




ul {
  list-style-type: none;
  margin: 10;
  /* padding: 10; */
  overflow: hidden;
  /* background-color: #dbe3f; */
}

.skill_list {
  float: left;
  margin: 15px;
  padding: 60;
  
}



.profile_input {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    /* margin-left: 46px; */
    text-align: center;
    margin-bottom: 27px;
    font-family: Inria Serif ;
}

.profile_input:focus,
.profile_pass:focus {
    border: 2px solid rgba(158, 154, 154, 0.18) !important;

}

.profile_submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Inria Serif ;
    /* margin-left: 35%; */
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none;
    font-size: 20px;

}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }


}